*.suo
*.user
*.bak
*.exe

bin/
obj/
Debug/
Release/
bak/
log/
!*.dll
packages/

v_packageitem.cs
.vs/EZP.Framework/v15/sqlite3/storage.ide
/.vs/EZP.Framework/v15/Server/sqlite3
/.vscode
/.vs/EZR.POS/v15/Server/sqlite3
/.vs
/EZR.Product.Protocol/Protocol/output
